<table>
    <tr class="header-row">
        <th (click)="sort('name')" class="sortable">Name</th>
        <th (click)="sort('type')" class="sortable">Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>
    <tr class="data-row" *ngFor = "let item of satellites">
        <td>{{item.name}}</td>
        <span *ngIf = "item.isSpaceDebris()=== false; else warningBox"><td [class.warning] = "inactive">{{item.type}}</td></span>
        <ng-template #warningBox>
            <td [class.warning] = "!inactive">{{item.type}}</td>
        </ng-template>
        <td>{{item.operational}}</td>
        <td>{{item.orbitType}}</td>
        <td>{{item.launchDate}}</td>
    </tr>
</table>

<!-- TODO 2b: use *ngFor to display satellite data in the table -->
<!-- TODO 3b: add style directive to conditionally highlight satellite type -->

